header{
  display: flex;
  flex-direction: row;
  gap: 150px;
  }
  .nav{
      display: flex;
      flex-direction: row;
      gap :20px;
  }
  .icons{
      position: relative;
      top: 20px;
  }
  .search{
      position: relative;
      top: 20px;
      border-radius: 50px; 
  }